<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Book Trading Club</title>
    <link rel="stylesheet" href="/public/home.css">

</head>

<body>
    <%- include ('navbar.ejs') %>
        <div id="container">
            <div id="books-container">
                <div class="intro">
                    <h1 style="display:inline">Books</h1><span>&nbsp;available for trade</span>
                </div>
                <form method="post" action="/requests/new">
                    <%- include('listbooks.ejs') %>
                        <div id="footer">

                            <% if(typeof name=='undefined'){ %>
                                <a href="/login">Login to create requests</a>
                                <% } else { %>
                                    <input type="submit" value="New Request">
                                    <a href="/books/my">New Book</a>
                                    <% } %>
                        </div>
                </form>
            </div>
        </div>
        <script src="public/client.js"></script>
</body>

</html>