<link rel="stylesheet" href="../public/navbar.css">
<nav id="nav-bar">
    <a href="/books">Book Exchange</a>
    <a href="/books">Books</a>
    <div class="drop-container">
        Requests
        <ul class="dropdown">
            <li><a href="/requests">All Requests</a></li>
            <li><a href="/requests/new">Create request</a></li>
        </ul>
    </div>
    <a href="/trades">Trades</a>
    <a href="/users">Users</a>

    <a href="/login">Login</a>
    <div class="drop-container">
        username
        <ul class="dropdown">
            <li>Profile</li>
            <li>Edit Profile</li>
            <li>My Books</li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>