<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Exchange - Add Book</title>
</head>

<body>
    <%- include('navbar.ejs');%>
        <br><br>
        <div class="container">
            <div class="top-container">
                <form action="/newbook" method="post">
                    <span> Title:</span>
                    <input type="text" name="title" id="title">
                    <span>Description:</span>
                    <input type="text" name="desc" id="desc">
                    <input type="submit" value="Add Book to Exchange">
                </form>
            </div>
            <div class="bottom-container">
                <div class="heading-section">

                    <span><%= name %>'s books</span>
                    <span>available for trade</span>

                </div>
                <% if(data.length==0){%>
                    You currently have no books

                    <% } else {%>
                        <% data.forEach(val=>{ %>
                            <br> <br>
                            <%= val.title %>
                                <%= val.desc %>
                                    <% }) %>
                                        <% } %>
            </div>
        </div>
</body>

</html>