<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Exchange - Trades</title>

</head>

<body>
    <%- include('navbar.ejs')%>
    <% trades.forEach(trade=>{ %>
    
        <% trade.trades[0].forEach(trade1=>{ %>
        <%= trade1.username %>
        <% }) %>

        <% trade.trades[1].forEach(trade2=>{ %>
        <%= trade2.username %>
        <% }) %>
    <% })%>
</body>

</html>